<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>C H O A M</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <srcipt src="/js/fastclick.js"></script>
    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/all.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
