<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Ornithopter :: CSS Animation function for Stylus</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">

      <article class="jumping-boxes">
        <ul>
          <li><div></div></li>
          <li><div></div></li>
          <li><div></div></li>
          <li><div></div></li>
        </ul>
      </article>

    </div>

  </body>
</html>
