@keyframes animation-set {
  0% {
    color: red;
    transform: translateX(0);
  }
  100% {
    color: green;
    transform: translateX(100px);
  }
}

div {
  animation: animation-set 1s 1s infinite;
}
