@keyframes animation-set {
  0% {
    top: 0;
  }
  20% {
    top: 20px;
  }
  40% {
    top: 40px;
  }
  60% {
    top: 60px;
  }
  80% {
    top: 80px;
  }
  100% {
    top: 100px;
  }
}

div {
  animation: animation-set .5s infinite;
}
