* {
  box-sizing: border-box;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  &:focus {
    outline: 0;
  }
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

dl, dd {
  margin: 0;
}

input {
  border: none;
}

input:focus,
textarea:focus {
  outline: 0;
}

table, thead, tbody {
  display: block;
}
