* {
  /* Hard reset */
  margin: 0;
  padding: 0;
  /* End */

  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 12px;
  letter-spacing: 6px;
  min-height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
