<div class="starting-colour">

  <h1>Choose players</h1>

  <ul class="players">
    <li class="player-1"><div class="white" name="white"></div></li>
    <li class="player-2"><div class="red" name="red"></div></li>
    <li class="player-3"><div class="purple" name="purple"></div></li>
    <li class="player-4"><div class="green" name="green"></div></li>
    <li class="player-5"><div class="black" name="black"></div></li>
    <li class="player-6"><div class="yellow" name="yellow"></div></li>
    <li class="player-7"><div class="orange" name="orange"></div></li>
    <li class="player-8"><div class="blue" name="blue"></div></li>
    <li class="player-9"><div class="pink" name="pink"></div></li>
  </ul>

  <button class="submit">SPIN!</button>

</div>
