<div class="startplayer">

  <h1>Choose players</h1>

  <div class="players">
    <ul>
      <li class="yellow" aria-selected="false"><div></div></li>
      <li class="red" aria-selected="false"><div></div></li>
      <li class="green" aria-selected="false"><div></div></li>
      <li class="blue" aria-selected="false"><div></div></li>
      <li class="white" aria-selected="false"><div></div></li>
      <li class="black" aria-selected="false"><div></div></li>
      <li class="pink" aria-selected="false"><div></div></li>
      <li class="orange" aria-selected="false"><div></div></li>
      <li class="purple" aria-selected="false"><div></div></li>
    </ul>
  </div>

  <button class="submit">SPIN!</button>

</div>
